<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Population.Properties.Settings.C__USERS_TONY_DOCUMENTS_BOOKS_C__STUDENT_SAMPLE_PROGRAMS_CHAP11_POPULATIONDB_MDFConnectionString"
            connectionString="Data Source=DESKTOP-NGJBJM5\SQLEXPRESS;Initial Catalog=&quot;C:\USERS\TONY\DOCUMENTS\BOOKS\C#\STUDENT SAMPLE PROGRAMS\CHAP11\POPULATIONDB.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>